<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Systems Information Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0px 5px 0px;
            display: flex;
            flex-direction: column;
        }

        h1, label {
            font-family: Arial, sans-serif;
            color: #171D20;
        }

        button {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 5px 10px;
            background-color: #F8F8F8;
            color: #171D20;
            border: 1px solid #BABFC7;
            border-radius: 4px;
            cursor: pointer;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
        } 

        .ag-theme-alpine .ag-cell {
            line-height: 1.5; 
        }

        #myGrid {
            flex: 1;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Systems Information Report | {{ date }}</h1>

    <div class="container">
        <div class="column-toggle">
            <label><input type="checkbox" checked onclick="toggleColumn(this,'response')"> ICMP response </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'hostname')"> Hostname </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'ip')"> HostOS IP </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'distro')"> Distro </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'sn')"> S/N </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'pn')"> P/N </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'users')"> Users </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'drives')"> Drives </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'devices')"> PCI Devices </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'nics')"> NICs </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'vms')"> VMs </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'a_updates')"> Available Updates </label>
            <label><input type="checkbox" checked onclick="toggleColumn(this,'l_updates')"> Last Update </label>
        </div>
        <div>
            <button onclick="exportToCsv()">Export to CSV</button>
        </div>
    </div> 

    <div class="ag-theme-alpine" id="myGrid" style="height: 500px; width: 100%;"></div>

    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script>
        const columnDefs = [          
            {
            headerName: "#", 
            valueGetter: (params) => params.node.rowIndex + 1,
            maxWidth: 100,
            suppressMovable: true
            },
            { headerName: "ICMP response", field: "response" },
            { headerName: "Hostname", field: "hostname" },
            { headerName: "HostOS IP", field: "ip" },
            { headerName: "Distro", field: "distro" },
            { headerName: "S/N", field: "sn" },
            { headerName: "P/N", field: "pn" },
            { headerName: "Users", field: "users" },
            { headerName: "Drives", field: "drives" },
            { headerName: "PCI Devices", field: "devices" },
            { headerName: "NICs", field: "nics" },
            { headerName: "VMs", field: "vms" },
            { headerName: "Available Updates", field: "a_updates" },
            { headerName: "Last Update", field: "l_updates" }
        ];

        const rowData = [
            {{ servers }}
        ];

        const gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            defaultColDef: {
                filter: true,
                sortable: true,
                autoHeight: true,
                wrapText: true
            }
        };
        
        function exportToCsv() {
            gridOptions.api.exportDataAsCsv();
        }

        function toggleColumn(checkbox, columnIndex) {
            const isVisible = checkbox.checked;
            gridOptions.api.setColumnVisible(columnIndex, isVisible);
        }

        document.addEventListener('DOMContentLoaded', function() {
            const eGridDiv = document.querySelector('#myGrid');
            new agGrid.Grid(eGridDiv, gridOptions);
        });
    </script>
</body>
</html>
